Repository AlexWayfer/benchmark_toys: changes, and which Cirrus tasks are due for each by the changed paths.
All: remark, bundle-audit, rubocop, rspec

.cirrus.yaml:

bundle_cache: &bundle_cache
  bundle_cache:
    folder: /usr/local/bundle
    fingerprint_script:
      - echo $CIRRUS_OS
      - ruby -v
      - cat Gemfile
      - cat *.gemspec
  install_script:
    - gem install bundler
    - bundle update

remark_task:
  container:
    image: node
  node_modules_cache:
    folder: node_modules
    fingerprint_script:
      - echo $CIRRUS_OS
      - node -v
      - cat package.json
  install_script: npm install
  lint_script: npm run remark
  only_if: ($CIRRUS_BRANCH == 'main') ||
    changesInclude(
      '.cirrus.yaml', '.gitignore', 'package.json', '.remarkrc.yaml', '**.md'
    )

bundle-audit_task:
  container:
    image: ruby
  <<: *bundle_cache
  bundle-audit_script: bundle audit check --update
  only_if: ($CIRRUS_BRANCH == 'main') ||
    changesInclude(
      '.cirrus.yaml', '.gitignore', 'Gemfile', '*.gemspec'
    )

rubocop_task:
  container:
    image: ruby:latest
  <<: *bundle_cache
  lint_script: bundle exec rubocop
  only_if: ($CIRRUS_BRANCH == 'main') ||
    changesInclude(
      '.cirrus.yaml', '.gitignore', 'Gemfile', 'Rakefile', '.rubocop.yml', '*.gemspec',
      '**.rb', '**.ru'
    )

rspec_task:
  container:
    matrix:
      image: ruby:2.6
      image: ruby:2.7
      image: ruby:3.0
      image: ruby:3.1
  <<: *bundle_cache
  environment:
    CODECOV_TOKEN: ENCRYPTED[8e6980349efde84bcc49f2d2a5382a6ca915ea04e0805c15d9e95a163e4b4da740915e563fb45282a52a5e590b569962]
  test_script: bundle exec rspec
  only_if: ($CIRRUS_BRANCH == 'main') ||
    changesInclude(
      '.cirrus.yaml', '.gitignore', 'Gemfile', 'Rakefile', '.rspec', '*.gemspec', 'lib/**',
      'spec/**'
    )

.cirrus.yml:

bundle_cache: &bundle_cache
  bundle_cache:
    folder: /usr/local/bundle
    fingerprint_script:
      - echo $CIRRUS_OS
      - ruby -v
      - cat Gemfile
      - cat *.gemspec
  install_script:
    - gem install bundler
    - bundle update

remark_task:
  container:
    image: node
  node_modules_cache:
    folder: node_modules
    fingerprint_script:
      - echo $CIRRUS_OS
      - node -v
      - cat package.json
  install_script: npm install
  lint_script: npm run remark
  only_if: ($CIRRUS_BRANCH == 'master') ||
    changesInclude(
      '.cirrus.yml', '.gitignore', 'package.json', '.remarkrc.yaml', '**.md'
    )

rubocop_task:
  container:
    image: ruby:latest
  <<: *bundle_cache
  lint_script: toys rubocop
  only_if: ($CIRRUS_BRANCH == 'master') ||
    changesInclude(
      '.cirrus.yml', '.gitignore', 'Gemfile', 'Rakefile', '.rubocop.yml', '*.gemspec',
      '**.rb', '**.ru'
    )

rspec_task:
  depends_on:
    - remark
    - rubocop
  container:
    matrix:
      image: ruby:2.5
      image: ruby:2.6
      image: ruby:2.7
  <<: *bundle_cache
  environment:
    CODECOV_TOKEN: ENCRYPTED[8e6980349efde84bcc49f2d2a5382a6ca915ea04e0805c15d9e95a163e4b4da740915e563fb45282a52a5e590b569962]
  test_script: toys rspec
  only_if: ($CIRRUS_BRANCH == 'master') ||
    changesInclude(
      '.cirrus.yml', '.gitignore', 'Gemfile', 'Rakefile', '.rspec', '*.gemspec', 'lib/**',
      'spec/**'
    )

Update version to 0.6.0
  CHANGELOG.md
  lib/benchmark_toys/version.rb
Due: remark, rubocop, rspec

Add Ruby 3.2 to CI
  .cirrus.yaml
Due: remark, bundle-audit, rubocop, rspec

Drop Ruby 2.6 support
  .cirrus.yaml
  .rubocop.yml
  benchmark_toys.gemspec
Due: remark, bundle-audit, rubocop, rspec

Move development dependencies from gemspec into Gemfile
  Gemfile
  benchmark_toys.gemspec
Due: bundle-audit, rubocop, rspec

Disable Renovate (open issue) dashboard
  renovate.json
Due: none

Add groups for Renovate
  renovate.json
Due: none

Remove Bundler development dependency
  Gemfile
Due: bundle-audit, rubocop, rspec

Remove Depfu badge from README
  README.md
Due: remark

Try to refine Renovate bot for gemspec
  renovate.json
Due: none

Try to actualize `gemspec` matcher for Renovate
  renovate.json
Due: none

Remove custom Renovate managers
  renovate.json
Due: none

Revert "Remove custom Renovate managers"
  renovate.json
Due: none

Try to add range strategy for Renovate custom matcher
  renovate.json
Due: none

Move range strategy for Renovate to outside
  renovate.json
Due: none

Remove Renovate configuration
  renovate.json
Due: none

Update all toys dependencies
  Gemfile
  benchmark_toys.gemspec
Due: bundle-audit, rubocop, rspec

Update version to 0.7.0
  CHANGELOG.md
  lib/benchmark_toys/version.rb
Due: remark, rubocop, rspec

Update `example_file` dependency
  benchmark_toys.gemspec
Due: bundle-audit, rubocop, rspec

Drop Ruby 2.7 support
  .cirrus.yaml
  .rubocop.yml
  benchmark_toys.gemspec
Due: remark, bundle-audit, rubocop, rspec

Add Ruby 3.3 for CI
  .cirrus.yaml
Due: remark, bundle-audit, rubocop, rspec

Update version to 0.8.0
  CHANGELOG.md
  lib/benchmark_toys/version.rb
Due: remark, rubocop, rspec

Add Ruby 3.4 for CI
  .cirrus.yaml
Due: remark, bundle-audit, rubocop, rspec

Add Renovate config
  renovate.json
Due: none

Replace `require:` with `plugins:` for RuboCop plugins
  .rubocop.yml
Due: rubocop

Update RuboCop RSpec plugin
  Gemfile
Due: bundle-audit, rubocop, rspec

Resolve new RuboCop offenses for gemspec
  benchmark_toys.gemspec
Due: bundle-audit, rubocop, rspec
