Repository AlexWayfer/benchmark_toys: changes, and which Cirrus tasks are due for each by the changed paths.
All: remark, rubocop, rspec

remark:
  container:
    image: node
  node_modules_cache:
    folder: node_modules
    fingerprint_script:
    - echo $CIRRUS_OS
    - node -v
    - cat package.json
  install_script: npm install
  lint_script: npm run remark

rubocop:
  bundle_cache:
    folder: /usr/local/bundle
    fingerprint_script:
    - echo $CIRRUS_OS
    - ruby -v
    - cat Gemfile
    - cat *.gemspec
  install_script:
  - gem install bundler
  - bundle update
  container:
    image: ruby:latest
  lint_script: toys rubocop

rspec:
  bundle_cache:
    folder: /usr/local/bundle
    fingerprint_script:
    - echo $CIRRUS_OS
    - ruby -v
    - cat Gemfile
    - cat *.gemspec
  install_script:
  - gem install bundler
  - bundle update
  depends_on:
  - remark
  - rubocop
  container:
    matrix:
      image: ruby:2.7
  environment:
  ...

Update version to 0.1.0
  CHANGELOG.md
Due: remark

Update to a new gem template
  .rubocop.yml
  .toys.rb
  README.md
  benchmark_toys.gemspec
Due: remark, rubocop, rspec

Update version to 0.2.0
  CHANGELOG.md
  lib/benchmark_toys/version.rb
Due: remark, rubocop, rspec

Update dependencies
  benchmark_toys.gemspec
Due: rubocop, rspec

Drop `rspec` and `rubocop` toys, just use `bundle exec`
  .cirrus.yml
  .toys.rb
Due: remark, rubocop, rspec

Rename `.cirrus.yml` to `.yaml`
  .cirrus.yaml
Due: none

Update version to 0.3.0
  CHANGELOG.md
  lib/benchmark_toys/version.rb
Due: remark, rubocop, rspec

Update all `remark` packages
  .remarkrc.yaml
  package.json
Due: remark

Update `rubocop-rspec` to compatible with RuboCop 1.0 version
  benchmark_toys.gemspec
Due: rubocop, rspec

Remove patch-version lock for stable `rubocop`
  benchmark_toys.gemspec
Due: rubocop, rspec

Add Ruby 3.0 for CI
  .cirrus.yaml
Due: none

Avoid Ruby 4 in gem specs
  benchmark_toys.gemspec
Due: rubocop, rspec

Add `bundle-audit` CI task
  .cirrus.yaml
  benchmark_toys.gemspec
Due: rubocop, rspec

Lock RuboCop version better
  benchmark_toys.gemspec
Due: rubocop, rspec

Update `toys` with `toys-core`
  benchmark_toys.gemspec
Due: rubocop, rspec

Update `remark-gfm` to a new major version
  package.json
Due: remark

Update version to 0.3.1
  CHANGELOG.md
  lib/benchmark_toys/version.rb
Due: remark, rubocop, rspec

Change unreleased header in CHANGELOG
  CHANGELOG.md
Due: remark

Update version to 0.5.0
  CHANGELOG.md
  lib/benchmark_toys/version.rb
Due: remark, rubocop, rspec

Rename `master` git branch to `main`
  .cirrus.yaml
  README.md
  benchmark_toys.gemspec
Due: remark, rubocop, rspec

Enable `rubygems_mfa_required`
  benchmark_toys.gemspec
Due: rubocop, rspec

Update `toys` and `toys-core`
  benchmark_toys.gemspec
Due: rubocop, rspec

Drop Ruby 2.5 support
  .cirrus.yaml
  .rubocop.yml
  benchmark_toys.gemspec
Due: rubocop, rspec

Add Ruby 3.1 for CI
  .cirrus.yaml
Due: none

Remove `depends_on` for Cirrus CI
  .cirrus.yaml
Due: none

Replace `codecov` Ruby uploader with shell one
  .cirrus.yaml
  benchmark_toys.gemspec
  spec/spec_helper.rb
Due: rubocop, rspec

Update gemspec metadata
  benchmark_toys.gemspec
Due: rubocop, rspec

Update License badge
  README.md
Due: remark

Update `example_file` dependency
  benchmark_toys.gemspec
Due: rubocop, rspec

Update version to 0.5.1
  CHANGELOG.md
  lib/benchmark_toys/version.rb
Due: remark, rubocop, rspec

Update `toys-core`
  benchmark_toys.gemspec
Due: rubocop, rspec

Path conditions:
  remark: any of: .cirrus.yml, .gitignore, package.json, .remarkrc.yaml, **.md
  rubocop: any of: .cirrus.yml, .gitignore, Gemfile, Rakefile, .rubocop.yml, *.gemspec, **.rb, **.ru
  rspec: any of: .cirrus.yml, .gitignore, Gemfile, Rakefile, .rspec, *.gemspec, lib/**, spec/**
