Repository AlexWayfer/benchmark_toys: changes, and which Cirrus tasks are due for each by the changed paths.
All: remark, bundle-audit, rubocop, rspec

remark:
  container:
    image: node
  node_modules_cache:
    folder: node_modules
    fingerprint_script:
    - echo $CIRRUS_OS
    - node -v
    - cat package.json
  install_script: npm install
  lint_script: npm run remark

bundle-audit:
  bundle_cache:
    folder: /usr/local/bundle
    fingerprint_script:
    - echo $CIRRUS_OS
    - ruby -v
    - cat Gemfile
    - cat *.gemspec
  install_script:
  - gem install bundler
  - bundle update
  container:
    image: ruby
  bundle-audit_script: bundle audit check --update

rubocop:
  bundle_cache:
    folder: /usr/local/bundle
    fingerprint_script:
    - echo $CIRRUS_OS
    - ruby -v
    - cat Gemfile
    - cat *.gemspec
  install_script:
  - gem install bundler
  - bundle update
  container:
    image: ruby:latest
  lint_script: bundle exec rubocop

rspec:
  bundle_cache:
    folder: /usr/local/bundle
    fingerprint_script:
    - echo $CIRRUS_OS
    - ruby -v
    - cat Gemfile
    - cat *.gemspec
  install_script:
  - gem install bundler
  - bundle update
  container:
    matrix:
      image: ruby:3.1
  environment:
  ...

Update Renovate configuration file
  renovate.json
Due: none

Update other Toys dependencies
  Gemfile
  benchmark_toys.gemspec
Due: bundle-audit, rubocop, rspec

Update runtime dependency `toys-core`
  benchmark_toys.gemspec
Due: bundle-audit, rubocop, rspec

Update development dependency `gem_toys`
  Gemfile
Due: bundle-audit, rubocop, rspec

Fail `remark` on any warning
  package.json
Due: remark

Change option for `remark-lint-list-item-indent` after major update
  .remarkrc.yaml
Due: remark

Drop Ruby 3.0 and 3.1 support
  .cirrus.yaml
  .rubocop.yml
  benchmark_toys.gemspec
Due: remark, bundle-audit, rubocop, rspec

Update `gem_toys` and `toys` dependencies
  Gemfile
  benchmark_toys.gemspec
Due: bundle-audit, rubocop, rspec

Update RuboCop and its plugins
  Gemfile
Due: bundle-audit, rubocop, rspec

Update `example_file` runtime dependency
  benchmark_toys.gemspec
Due: bundle-audit, rubocop, rspec

Add Ruby 4.0 support
  .cirrus.yaml
  benchmark_toys.gemspec
Due: remark, bundle-audit, rubocop, rspec

Update version to 1.0.0
  CHANGELOG.md
  lib/benchmark_toys/version.rb
Due: remark, rubocop, rspec

Add GitHub Actions
  .github/workflows/ci.yml
Due: none

Replace Cirrus CI badge with GH Actions
  README.md
Due: remark

Update `toys` dependencies
  Gemfile
  benchmark_toys.gemspec
Due: bundle-audit, rubocop, rspec

Update version to 1.1.0
  CHANGELOG.md
  lib/benchmark_toys/version.rb
Due: remark, rubocop, rspec

Lock `simplecov` on minor version
  Gemfile
Due: bundle-audit, rubocop, rspec

Path conditions:
  remark: (any of: .cirrus.yaml, .gitignore, package.json, .remarkrc.yaml, **.md) or (any of: .cirrus.yml, .gitignore, package.json, .remarkrc.yaml, **.md)
  bundle-audit: any of: .cirrus.yaml, .gitignore, Gemfile, *.gemspec
  rubocop: (any of: .cirrus.yaml, .gitignore, Gemfile, Rakefile, .rubocop.yml, *.gemspec, **.rb, **.ru) or (any of: .cirrus.yml, .gitignore, Gemfile, Rakefile, .rubocop.yml, *.gemspec, **.rb, **.ru)
  rspec: (any of: .cirrus.yaml, .gitignore, Gemfile, Rakefile, .rspec, *.gemspec, lib/**, spec/**) or (any of: .cirrus.yml, .gitignore, Gemfile, Rakefile, .rspec, *.gemspec, lib/**, spec/**)
